.auth-layout__image-container {
  height: -webkit-fill-available;
  min-height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-layout__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}