.course-card {
  background-color: #1e1e1e;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.course-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.course-card__image-container {
  height: 12rem;
  overflow: hidden;
}

.course-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.course-card__image-placeholder {
  width: 100%;
  height: 100%;
  background-color: #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-card__image-placeholder-text {
  color: #bbbbbb;
  font-size: 1rem;
}

.course-card__content {
  padding: 1.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.course-card__title {
  display: flex;
  align-items: center;  
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #e0e0e0;
}

.course-card__description {
  color: #bbbbbb;
  margin-bottom: 0.7rem;
  flex-grow: 1;
}

.course-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  gap: 0.5rem;
}

.course-card__duration {    
  color: #fff;
  padding: 0.25rem 0;  
  font-size: 0.875rem;
  font-weight: 700;
}


.course-card__date {
  font-size: 0.875rem;
  color: #94a3b8;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid #3d3d3d;
}

.course-card__new-badge {
  background-color: #0285ff;
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.course-card__actions {
  display: flex;
  gap: 0.5rem;
  margin-top: auto;
}

.course-card__action-button {
  flex: 1;
  padding: 0.5rem;
  border-radius: 0.375rem;
  font-weight: 500;
  font-size: 0.875rem;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease;
}

.course-card__action-button--edit {
  background-color: #312e81;
  color: #c4b5fd;
}

.course-card__action-button--edit:hover {
  background-color: #3730a3;
}

.course-card__action-button--delete {
  background-color: #450a0a;
  color: #fca5a5;
}

.course-card__action-button--delete:hover {
  background-color: #7f1d1d;
}