.protected-route {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  min-width: 100%;
  background-color: #141414;
}

.protected-route__loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.protected-route__loading-text {
  color: #e0e0e0;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
}